<mat-toolbar>
    <div><a routerLink="/">Bioskop</a></div>
    <div class="header">
        <div><a routerLink="/register">Napravi Profil</a></div>
        <div><a routerLink="/login">Prijavi se</a></div>
    </div>
    </mat-toolbar>
    <mat-card>
        <mat-card-content>
            <h3>Dobrodošli u Bioskop</h3>
            <button mat-raised-button routerLink="/login">Prijavi se</button>
            <button mat-raised-button routerLink="/register">Napravi profil</button>
        </mat-card-content>
    </mat-card>
